<div class="container">
  <div class="row">
    <h3>Dynasties</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @dynasties.each do |dynasty| %>
            <tr>
              <%= render dynasty %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
